{% extends 'AppBundle::base.html.twig' %}

{% import _self as personel %}

{% macro table(data) %}
  {% include('AppBundle:Personel:index_table.html.twig')
    with {entities: data}
    only
    %}
{% endmacro %}

{% block pagetitle %} {{ entities.name }} {{ entities.lastname }} {% endblock %}

{% block body %}
  {{ parent() }}
  
  <div>
  	
  </div>
  
	<!-- TODO: add informations view -->
	<!-- TODO: add func to add material -->
	<!-- TODO: add tab of materials -->

{% endblock %}
